body {
    background-color: darkslategrey;
    
}

/* This rule isn't used in the project as distributed, because the JavaScript
code hides the video element. */
body video {
    position: absolute;
    opacity: 0.5;
}
#status {
    font-size: 100px;
    color: teal;
}
#watch {
    color: yellowgreen;
    font-size: 20px;
   =
}
#game {
    font-size: 50px;
    color: seagreen;
    

} 
#game:hover {
    font-size: 50px;
    color: violet;
    transition: 1s;
} 